{% extends "blog/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="centerstage">
  <div class="extra">
    <h3>About me</h3>
    <p class="postcontent">I am Shivam Garg. Currently, I am pursuing B.E.(2015-19) in Computer Engineering from NSIT.</p>
    <h3>About this website</h3>
    <p class="postcontent">On this website you can write a technical blog or you can read blogs written by others. If you have any suggestion about this website, feel free to contact me.</p>
    <h3>Contact</h3>
    <strong class="postcontent">Gmail Id:</strong>
    <a class="postcontent" href="#">shivam160677@gmail.com</a>
    <br>
    <strong class="postcontent">Linked In:</strong>
    <a class="postcontent" href="https://www.linkedin.com/in/shivam-garg-9b9967134">https://www.linkedin.com/in/shivam-garg-9b9967134</a>
    <br>
    <strong class="postcontent">Github:</strong>
    <a class="postcontent" href="https://github.com/shivam160677">https://github.com/shivam160677</a>
  </div>
</div>

{% endblock %}
