{% extends "blog/base.html" %}
{% block content %}
<div class="centerstage">
  <div class="extra">
    <h2 class="text-center">{{post.title}}</h2>
    <p class="postcontent">{{post.text|safe|linebreaksbr}}</p>
  </div>
  <div class="">
    {% if post.published_date %}
      <div class="date postdate">
        {{post.published_date}}
      </div>
    {% else %}
      <a class="centerstage btn btn-primary" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
    {% endif %}
  </div>

  {% if user.is_authenticated  %}
    {% ifequal user post.author %}
    <a class="centerstage btn btn=primary" href="{% url 'post_edit' pk=post.pk %}"><span class='glyphicon glyphicon-pencil'></span></a>
    <a class="centerstage btn btn=primary" href="{% url 'post_remove' pk=post.pk %}"><span class='glyphicon glyphicon-remove'></span></a>
    {% endifequal %}
  {% endif %}


  <div class="">
    <hr>
    <a class='centerstage btn btn-primary btn comment' href="{%url 'add_comment_to_post' pk=post.pk %}">Add Comments</a>
  </div>
  <h3 class='centerstage'>Comments:</h3>
  {%if not post.comments.count %}
  <div class="extra2">
    <p>No Comments</p>
  </div>
  {% else %}
  {% for comment in post.comments.all %}
    <div class=" extra2 ">
      <h3>{{comment.author}}:</h3>
      <p>{{comment.text}}</p>
    </div>
  {%  endfor %}
  {% endif %}
</div>

{% endblock %}
