{% extends "blog/base.html" %}

{% block content %}

<div class="centerstage">
  {% if not post_list.count %}
  <div class="extra">
      <p>No blogs.You can Write a new blog.</p>
  </div>
  {% endif %}
  {% for post in post_list %}
  <div class="extra">
    <p ><a class="para1" href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></p>
    <div class="date">
      <p>Published on : {{post.published_date|date:'d-m-Y'}}</p>
      <p>{{post.text|truncatechars:200}}</p>
     </div>
    <!-- <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a> -->
  </div>

  {% endfor %}
</div>

{% endblock %}
